@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* { margin: 0; }
html, body {
  height: 100%;
}
body {
  margin: 10px;
  background-color: #ECEFF1;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #616161;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.shoppinglist-input {
  font-family: 'Montserrat', sans-serif;
  color: #616161;
  font-size: large;
  padding: 12px;
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.15);
  border: 1px solid #616161;
  margin-right: 12px;
  transition: 0.3s;
}
.shoppinglist-input:focus {
  border: 1px solid #646464;
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.50);
}
.shoppinglist-button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  color: #616161;
  background-color: #ffffff;
  font-size: large;
  padding: 12px;
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.15);
  border: 1px solid #616161;
  transition: 0.3s;
}
.shoppinglist-button:hover {
  background-color: #616161;
  color: #ffffff;
}

.shoppinglist-controls {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 12px;
}
.shoppinglist-additem {
  display: flex;
  flex-direction: row;
  margin: 12px 0px;
}

.shoppinglist-empty {
  color: #c7c7c7;
  margin-top: 12px;
  font-weight: bold;
  text-align: center;
}

.shoppinglist {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.15);
}

.shoppinglist-header {
  padding: 32px;
  font-family: 'Pacifico', cursive;
  font-size: 1.3em;
  text-align: center;
}

.shoppinglist-item-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.15);
}
.shoppinglist-item-container:last-child {
  margin-bottom: 0;
}

.shoppinglist-item {
  font-size: large;
  min-width: 300px;
  color: #616161;
  padding: 12px;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 2;
}
.shoppinglist-item:hover {
  color: #ffffff;
  background-color: #616161;
}

.shoppinglist-item-checked {
  background-color: #A5D6A7;
}
.shoppinglist-item-checked > p {
  text-decoration: line-through;
}
.shoppinglist-item-checked:hover {
  color: #646464;
  background-color: #81C784;
}

.iconbutton {
  padding: 4px 8px;
  min-width: 50px;
  background-color: #ffffff;
  box-shadow: unset;
  color: #ff0000;
  border: unset;
}
.iconbutton:hover {
  border: unset;
  background-color: #ff0000;
  color: #ffffff;
}