* { margin: 0; }
html, body {
  height: 100%;
}
body {
  margin: 64px 0 0 0;
  background-color: #ECEFF1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #616161;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.shoppinglist-input {
  color: #616161;
  font-size: large;
  padding: 12px;
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.15);
  border: 1px solid #616161;
  margin-right: 12px;
  transition: 0.3s;
}
.shoppinglist-input:focus {
  border: 1px solid #646464;
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.50);
}
.shoppinglist-button {
  cursor: pointer;
  color: #616161;
  background-color: #ffffff;
  font-size: large;
  padding: 12px;
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.15);
  border: 1px solid #616161;
  transition: 0.3s;
}
.shoppinglist-button:hover {
  background-color: #616161;
  color: #ffffff;
}

.shoppinglist-controls {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 12px;
}
.shoppinglist-additem {
  display: flex;
  flex-direction: row;
  margin: 12px 0px;
}

.shoppinglist-empty {
  color: #c7c7c7;
  margin-top: 12px;
  font-weight: bold;
}

.shoppinglist {
  background-color: #FFFFFF;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.15);
}

.shoppinglist-header {
  margin-bottom: 12px;
}

.shoppinglist-item-container {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.15);
}

.shoppinglist-item {
  font-size: large;
  min-width: 300px;
  color: #616161;
  padding: 12px;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.shoppinglist-item:hover {
  color: #ffffff;
  background-color: #616161;
}

.shoppinglist-item-checked {
  background-color: #A5D6A7;
}
.shoppinglist-item-checked > p {
  text-decoration: line-through;
}
.shoppinglist-item-checked:hover {
  color: #646464;
  background-color: #81C784;
}

.iconbutton {
  padding: 4px 8px;
  background-color: #ffffff;
  box-shadow: unset;
  color: #ff0000;
  flex-grow: 1;
  border: unset;
}
.iconbutton:hover {
  border: unset;
  background-color: #ff0000;
  color: #ffffff;
}